<%= form_with model: @skill do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <% @skill.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %><br>
  </div>

  <div>
    <%= form.label :grading %><br>
    <%= form.number_field :grading %><br>
    <% @skill.errors.full_messages_for(:grading).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
