<h1>Skills</h1>
<p>List of skills and a attempt at objective self evaluation</p>
<table>
    <tr>
        <th>Skill</th>
        <th>Grading</th>
    </tr>
    <% @skills.each do | skill | %>
    <tr>
        <td>
         <%= link_to skill.name, skill %>
         </td>
         <td>
         <%= skill.grading %>
         </td>
    </tr>
    <% end %>
</table>
<%= link_to "New Skill", new_skill_path %>