<h1> You chose <%= @skill.name  %> </h1>
<h2> The grading is: <%= @skill.grading %> </h2>
<ul>
  <li><%= link_to "Edit", edit_skill_path(@skill) %></li>
    <li><%= link_to "Destroy", skill_path(@skill),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>